<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648437378605-rd378nr4c6gbhct6vldb3dr2frb9ihom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648437378605-rd378nr4c6gbhct6vldb3dr2frb9ihom</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648437378605-u714be8g2mltkgultejcdc277jr6u693.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4RZiJHrC3O8hZ3lq64R7oy3lrFw9xT44</string>
	<key>GCM_SENDER_ID</key>
	<string>648437378605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workTracker</string>
	<key>PROJECT_ID</key>
	<string>worktracker-1e0fa</string>
	<key>STORAGE_BUCKET</key>
	<string>worktracker-1e0fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648437378605:ios:e9e3e1dcdec9e6162e92a4</string>
</dict>
</plist>